.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product {
    width: 400px;
    margin: 20px;
    text-align: center;
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .product-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .product-name {
    margin-top: 10px;
    color: green;
  }
  